*{
    padding: 0;
    margin: 0;
    font-family:'Public Sans', sans-serif;;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
}

.containers{
    width: 100%;
    height: 100%;
}