@media(max-width:800px){
    body{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left .placeholder{
        width: 100%;
        height: 200px;
    }

    .right{
        width: 50%;
    }

    .left{
        width: 50%;
    }
}
@media(max-width:500px){
    .right .video{
        flex-direction: column;
    }

    .right .placeholder{
        width: 100%;
    }
}