@media(max-width:870px){
    html{
        height: 100%;
        width: 100%;
    }

    header{
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    header .logo h1{
        font-size: 20px;
        display: flex;
    
    }
    header .menu-left{
        display: block;
        position: static;
        padding: 0;
    }

    header .menu-left nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0;
    }

    header .menu-left nav ul li{
        font-size: 20px;
    }

    header .menu-left button{
        padding: 5px 11px 5px 11px;;
        display: flex;
        align-content: center;
        font-size: 10px;
    }
}